html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--color-3);
    background: -webkit-linear-gradient(to top, var(--color-4), var(--color-3));
    /*Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to top, var(--color-4), var(--color-3));
    /*Chrome 26+, Opera 12, etc*/
    color: var(--color-white);
    min-height: 100vh;
}

:root{
    --color-black: #000;
    --color-white: #fff;
    --color-1: #2b2c30;
    --color-2: #35313b;
    --color-3:#453745;
    --color-4:#613c4c;
    --color-5: #6c2d6a;
    --color-6: #ac6aac;
    --color-7: #b684b5;
    --color-8: #dab0da;
}

.container-main{
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 3fr;
    margin: 20px auto;
    max-width: 1500px;
    padding: 40px auto;
    width: 90%;
}

.banner{
    background: linear-gradient(to bottom, var(--color-5) 50%, var(--color-1));
    background-position: center center;
    background-size: cover;
    border: 1px solid var(--color-black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.banner ul{
    list-style: none;
}

.banner ul li{
    font-weight: bold;
    padding-bottom: 8px;
}

.banner .button{
    background-color: var(--color-5);
    border: 2px solid var(--color-black);
    border-radius: 100px;
    color: var(--color-white);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    transition: transform 0.2s;
    width: 100%;
}

.banner .button:hover{
    transform: scale(1.03);
}

.container-cards{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    background-position: center center;
    background-size: cover;
    border-radius: 8px;
    min-height: 210px;
    padding: 20px;
    border: 1px solid var(--color-black);
}

.one{
    background-color: var(--color-8);
    color: #000;
}

.two{
    background-color: var(--color-7);
    color: #000;
}

.three{
    background-color: var(--color-6);
    color: #000;
}

.four{
    background-color: var(--color-1);
}

.five{
    background-color: var(--color-2);
}

.six{
    background-color: var(--color-3);
}

.card .texts{
    text-align: center;
}

.card .texts h5{
    text-shadow: #000;
}

/* Laptopts/PCs, 992px y más */
@media only screen and (max-width: 992px){
    .container-info .presentation{
        font-size: 14px;
    }
    .container-images{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Dispositivos medios,(landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .container-main{
        grid-template-columns: 1fr;
    }
    
    .container-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .container-info{
        grid-template-columns: 1fr;
    }

    .container-info .presentation{
        font-size: 13px;
    }
}

/* large phones, 600px y más */
@media only screen and (max-width: 600px){
    .container-cards{
        grid-template-columns: 1fr;
    }

    .container-info .presentation{
        font-size: 11px;
    }

    .container-images{
        grid-template-columns: 1fr;
    }
}