html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0; 
}

header h1{
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    font-size: 3.5rem;
}

header h1 span{
    color: rgb(1 78 124);
}

a{
    text-decoration: none;
}

.nav-principal{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(1 78 124);
    padding: 0.5rem 2rem;   
}

.nav-principal a{
    color: white;
}

main section{
    text-align: center;
    margin: 2rem 0;
    padding: 2rem;
}

main section h2{
    color: #294380;
    font-weight: bolder;
    font-size: 2rem;
}

main section p{
    color: #e6e6e6;
}


.contenedor{
    margin: 0 auto;
    max-width: 100%;
}

#banner{
    margin: 0 auto;
    background-image: url(/../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15rem;
}

/*Bloque categoría de productos*/
#categorias-productos{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.categoria{
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.categoria:hover {
    transform: translateY(-5px);
    background-color: rgb(1 78 124);
}
.categoria:hover a{
    color: white;
}
.categoria img {
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Bloque sobre nosotros*/
.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, rgb(1 78 124) 50%, #294380 100%), url(/../img/nosotros.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 10rem 0;
    background-size: 100%, auto;
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    column-gap: 10rem;
}

.texto-nosotros{
    grid-column: 2/3;
    padding: 5rem;
}

.texto-nosotros h2{
    color: white;
}

/*Bloque productos*/
.nuestros-productos-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.producto{
    margin: 1rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
    background-color: rgb(1 78 124);
    color: white;
}
.producto img{
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.producto p{
    padding: 0 2.5rem;
}

.producto h3{
    font-size: 1.5rem;
}

.precio{
    font-size: 1.8rem;
    font-weight: 900;
    color: #b9ff38;
}

.btn {
    background-color: #b9ff38;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0.8rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    width: 100%;
    border-radius: 0.2rem;
}
.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}

.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 2rem;
    padding-top: 2rem;
}
.site-footer h3 {
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(1 78 124);
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    color: black;
}

.copyright {
    margin-top: 3rem;
    text-align: center;
}

@media only screen and (max-width: 992px){    
    .nuestros-productos-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px){
    .nuestros-productos-grid{
        grid-template-columns: 1fr;
    }
}